body {
    margin: 0;
    padding-bottom: 1500px;
    font-family: Roboto;
    margin-top: 85px;
    display: flex;
    padding-left: 648px;
    background-color: #efefeb;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

.svg-library {
    display: none;
}

svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: block;
}

/* ******* not what i want ******* */

/* 
.grid-div {
    background-color: rgba(255, 161, 161, 0.568);
    display: grid;
    grid-template-columns: 225px 555px 300px;
    column-gap: 25px
}

main {
    background-color: rgb(230, 255, 230);
}

.right-column {
    background-color: rgb(248, 226, 229);
} */