body {
    margin: 0;
    padding-bottom: 1500px;
    font-family: Roboto;
    margin-top: 85px;
    /* display: flex; */
    /* padding-left: 648px; */
    /* justify-content: center; */
    background-color: #efefeb;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
}

.svg-library {
    display: none;
}

svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    display: block;
}

/* ******* not what i want ******* */

/* 
.grid-div {
    background-color: rgba(255, 161, 161, 0.568);
    display: grid;
    grid-template-columns: 225px 555px 300px;
    column-gap: 25px
}

main {
    background-color: rgb(230, 255, 230);
}

.right-column {
    background-color: rgb(248, 226, 229);
} */

/* ************************************** */


.grid-div {
    display: flex;
    gap: 24px;
    justify-content: center;
    /* background-color: rgba(212, 230, 212, 0.534); */
    height: 3000px;
}