main {
    width: 540px;
    flex-shrink: 0;
}

/* new-post ------------------------- */

.new-post {
    background-color: white;
    border-radius: 10px;
    padding: 12px 16px 3px 16px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 48px 1fr;
    row-gap: 3px;
    grid-template-rows: 48px 48px;
    column-gap: 8px;
}

.new-post img {
    width: 48px;
    border-radius: 30px;
    vertical-align: middle;
}

/* .new-post input {
    padding: 14px;
    border-radius: 40px;
    border: 1px solid rgb(170, 170, 170);
    background-color: transparent;
    transition: background-color .15s ease;

    &::placeholder {
        font-size: 15px;
        font-family: Roboto, Arial;
        color: rgb(44, 44, 44);
        font-weight: 500;
    }

    &:hover {
        background-color: rgba(211, 211, 211, 0.501);
    }
} */

.new-post button {
    font-size: 15px;
    font-family: Roboto, Arial;
    color: rgb(85, 85, 85);
    font-weight: 500;
    padding: 14px;
    padding-left: 18px;
    border-radius: 40px;
    border: 1px solid rgb(170, 170, 170);
    background-color: transparent;
    display: flex;
    justify-content: start;
    /* can bre reomoved? */
    transition: background-color .15s ease;

    &:hover {
        background-color: rgba(211, 211, 211, 0.308);
    }
}

.options-div {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
}

.options-div div {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .15s ease;

    &:hover {
        background-color: rgba(211, 211, 211, 0.308);
    }
}

.options-div div svg {
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
}

.options-div p {
    color: rgb(85, 85, 85);
    font-weight: 500;
    font-size: 14px;
}

#video-symbol {
    fill: rgb(77, 163, 77);
}

#photo-symbol {
    fill: rgb(0, 140, 255);
}

#article-symbol {
    fill: rgb(221, 81, 0);
}

/* sort-by ------------------------- */

.sort-by-div {
    display: flex;
    align-items: center;
    margin-block: 8px;
    cursor: pointer;
}

.sort-by-div div {
    border-bottom: 1px solid rgb(185, 185, 185);
    flex: 1;
    margin-right: 10px;
}

.sort-by-div p {
    font-size: 12px;
    font-weight: 200;
    margin-right: 5px;
}

.sort-by-div span {
    font-weight: 500;
}

.sort-by-div svg {
    margin-top: -8px;
}

/* content ------------------------- */

/* .content {
    background-color: lightpink;
} */

.post-card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 1px rgb(156, 156, 156);
}

.post-card a {
    text-decoration: none;
}

/************** post-card --> top-div **************/

.top-div {
    display: flex;
    gap: 10px;
    padding: 15px 15px 8px 15px;
    position: relative;
}

.top-div img {
    width: 48px;
    height: 48px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.profile-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    color: black;

    &:hover {
        color: #0a66c2;
        text-decoration: underline;
    }
}

.followers-number {
    font-size: 12px;
    color: rgb(73, 73, 73);
    font-weight: 300;
}

.post-time {
    display: flex;
    gap: 2px;
    color: rgb(73, 73, 73);
}

.post-time p {
    font-size: 12px;
    font-weight: 300;
}

.post-time svg {
    color: rgb(99, 99, 99);
}

.post-options {
    position: absolute;
    display: flex;
    gap: 4px;
    top: 4px;
    right: 8px;
}

.post-options svg {
    color: rgb(73, 73, 73);
    width: 15px;
    height: 15px;
}


.post-options button {
    background-color: transparent;
    padding: 9px 9px;
    border-radius: 30px;
    border: none;
    transition: all .15s ease;

    &:hover {
        background-color: rgb(244, 244, 244);
    }
}

/************** post-card --> middle-div **************/

/* .middle-div{
    background-color: rgb(192, 247, 192);
} */

.middle-div p {
    margin-left: 15px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 350;
}

.middle-div img {
    width: 100%;
    max-height: 690px;
    object-fit: cover;
}

/************** post-card --> bottom-div **************/

.bottom-div {
    padding: 4px 15px;
}

.engagements-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 300;
    color: rgb(70, 70, 70);
}

.engagements-div button {
    padding: 0;
    font-size: inherit;
    background-color: transparent;
    border: none;
    color: inherit;
}

.engagements-div a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: #0a66c2;
        text-decoration: underline;
    }
}

.reactions-div {
    display: flex;
    gap: 10px;
}

.reactions-div img {
    margin-right: -8px;
}

.bottom-div .line {
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom: 4px;
}

.engagement-options {
    display: flex;
    gap: 4px;
}

.engagement-options button {
    color: rgb(66, 66, 66);
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-block: 10px;
    flex: 1;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: all .15s ease;

    &:hover {
        background-color: rgb(245, 245, 245);
    }
}

.engagement-options p {
    font-size: 14px;
    font-weight: 500;
}

.engagement-options svg {
    font-size: 1.2em;
}