.right-column {
    width: 295px;
    /* position: fixed; */
    /* right: calc(50% - (590px/2) - 295px); */
    /* background-color: red; */
    position: relative;
    flex-shrink: 0;
}

/******************************************************** Puzzel version 1 */
/* 
.puzzle-div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    padding: 16px 8px 12px 16px;
}

.puzzle-div a{
    text-decoration: none;
}

.today-p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
}

.details-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-column .details-div img {
    width: 64px;
    height: 64px;
}

.info-div {
    margin-left: -12px;
}

.zip-p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    color: black;
}

.solve-p {
    font-size: 12px;
    color: rgb(100, 100, 100);
    font-weight: 300;
    margin-bottom: 8px;
}

.score-div {
    display: flex;
}

.score-div svg {
    margin-right: 5px;
}

.puzzle-div svg {
    color: rgb(91, 91, 91);
} */


/******************************************************** Puzzel version 2 */



.puzzle-div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    padding-block: 16px 12px;
    margin-bottom: 9px;
}

.puzzle-div a {
    text-decoration: none;
}

.today-p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-left: 13px;
}

.details-div {
    display: grid;
    grid-template-columns: 32px 1fr 20px;
    padding: 6px 20px;
    align-items: center;

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.right-column .details-div img {
    width: 32px;
    height: 32px;
}

.info-div {
    margin-left: 10px;
}

.zip-p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: black;
}

.solve-p {
    font-size: 12px;
    color: rgb(100, 100, 100);
    font-weight: 300;
}

.score-div {
    display: flex;
}

.score-div svg {
    margin-right: 5px;
}

.puzzle-div svg {
    color: rgb(56, 56, 56);
}

.show-more-div {
    display: inline-flex;
    margin-top: 2px;
    margin-left: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    transition: all .15s ease;

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.show-more-div p {
    font-size: 14px;
    font-weight: 500;
    margin-right: 4px;
    color: rgb(56, 56, 56);
}



/************************************************** add to your feed*/

.add-feed {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    padding-block: 16px 12px;
}


.feed-title {
    display: flex;
    justify-content: space-between;
    padding-inline: 13px;
    margin-bottom: 20px;
}

.feed-title p {
    font-size: 16px;
    font-weight: 500;
    display: block;
}

.feed-title svg {
    color: rgb(56, 56, 56);
}

.feed-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feed-details {
    display: flex;
    margin-inline: 13px;
    align-items: start;
}

.feed-details a {
    text-decoration: none;
}

.feed-details img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.feed-details .info {
    margin-left: 13px;
}

.feed-details .name-p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    color: black;
}

.feed-details .about-p {
    font-size: 12px;
    color: rgb(100, 100, 100);
    font-weight: 300;
    margin-bottom: 6px;
}


.feed-details button {
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: rgb(82, 82, 82);
    border: none;
    border-radius: 30px;
    padding: 6.5px 16px;
    box-shadow: inset 0 0 0 1px rgb(82, 82, 82);
    /* Unlike border or box-shadow,
    the outline property isn’t designed for animations. */
    transition: background-color .15s ease, box-shadow .15s ease;
}

.feed-details button:hover {
    background-color: rgba(228, 228, 228, 0.5);
    box-shadow: inset 0 0 0 2px black;
}


.view-all-div {
    display: inline-flex;
    margin-top: 14px;
    margin-left: 12px;
    padding: 5px 8px;
    border-radius: 4px;
    transition: all .15s ease;
    color: rgb(56, 56, 56);

    &:hover {
        background-color: rgb(240, 240, 240);
    }
}

.view-all-div p {
    font-size: 14px;
    font-weight: 500;
    margin-right: 4px;
}

/************************************************** promoted-div*/
.sticky-div {
    margin-top: 9px;
    position: sticky;
    top: 85px;
}

.adds-div {
    border-radius: 10px;
    background-color: white;
}

.adds-div .cover-pic {
    width: 100%;
    height: 50px;
    object-fit: cover;
    object-position: bottom;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.page-pic-div {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35px;
    left: calc(50% - 27px);
    /*27=25+2 brder-width*/
}

.page-pic-div img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
}

.promoted-div {
    display: flex;
    color: rgb(100, 100, 100);
    background-color: white;
    border-radius: 7px;
    position: absolute;
    top: 8px;
    right: 6px;
    padding: 4px;
}

.promoted-div p {
    font-size: 12px;
    font-weight: bold;
    margin-right: 3px;
}

.promoted-details {
    padding: 60px 18px 18px 18px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.promoted-details .title-p {
    font-weight: 500;
    width: 200px;
    line-height: 20px;
    margin-bottom: 10px;
}

.promoted-details .sub-p {
    font-weight: 300;
    color: rgb(100, 100, 100);
    margin-bottom: 18px;
}

.promoted-details button {
    width: 100%;
    color: #0a66c2;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    padding-block: 8px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #0a66c2;
    transition: all .15 ease;

    &:hover {
        background-color: #87c1fc1c;
    }
}

/******************************************************** footer*/

.right-column footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-block: 0px 12px;
    padding: 0;
}

.footer-links a {
    font-size: 12px;
    color: rgb(114, 114, 114);
    text-decoration: none;

    &:hover {
        color: #0a66c2;
        text-decoration: underline;
    }
}

.footer-links .symbol-div {
    display: flex;
    gap: 2px;
    align-items: center;
}

.symbol-div p {
    line-height: 0;
}

.footer-links li {
    display: flex;
    align-items: center;
}

.footer-links svg {
    margin-top: -3px;
}

.linkedin-div {
    margin-top: 10px;
    display: flex;
    gap: 3px;
}

.linkedin-div p {
    font-size: 12px;
    color: rgb(70, 70, 70);
}